/* Header */
header {
    background-color: blue;
}

.title {
    
    color: white;
    text-align: center;
}
.title h1 {
    padding: 10px;
}

/* Main content */
.dashboard {
    background-color: rgb(247, 247, 247);
}

/* Left Sidebar */
.recent-searches h2 {
    font-size: 1.2rem;
}

.cityList {
    margin-top: 20px;
}

.city {
    padding: 10px;
}

.cityName {
    background-color: white;
    color: black;   
}
/* Weather Data */

.currentWeather {
    margin-bottom: 20px;
    background-color: white;
    font-size: 15px;
    margin: 10px;
}

/* .currentWeather {
    font-size: 1.3rem;
    margin: 10px;
} */

#uv-index {
    color: white;
}

.city {
    font-size: 25px;
}

.date {
    font-size: 10px;
}

.forecast h3{
    font-size: 5px;
}

.card-title {
    font-weight: bold;
    color: white;
}

.card {
    background-color: blue;
}

.card-text {
    color: white;
}



